.switch {
  $height: 20px;
  $ratio: 2;
  width: $height * $ratio;
  height: $height;
  position: relative;
  border-radius: 15px;
  background: black;
  cursor: pointer;
  padding: 3px $height / 2;

  &__indicator {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}